{% extends "base.html" %}

{% block content %}

<article class="about">
    <h1>About NHSBugs.net</h1>


    <h1>Authors</h1>
    <table width="100%" border="1px" cellpadding="2px" cellspacing="2px">
        <tr>
            <th>Name</th>
            <th>Organisation</th>
            <th>Github</th>
            <th>Twitter</th>
        </tr>
        <tr>
            <td>Carl Reynolds</td>
            <td><a href="http://openhealthcare.org.uk">Open Health Care UK</a></td>
            <td><a href="https://github.com/drcjar">github.com/drcjar</a></td>
            <td><a href="https://twitter.com/drcjar">@drcjar</a></td>
        </tr>
        <tr>
            <td>Colin Wren</td>
            <td>&nbsp;</td>
            <td><a href="https://github.com/gimpneek">github.com/gimpneek</a></td>
            <td><a href="https://twitter.com/colinwren">@colinwren</a></td>
        </tr>
        <tr>
            <td>Karl Williams</td>
            <td>&nbsp;</td>
            <td><a href="https://github.com/deadlight">github.com/deadlight</a></td>
            <td><a href="https://twitter.com/karlwilliams">@karlwilliams</a></td>
        </tr>
        <tr>
            <td>Robin Winslow</td>
            <td>&nbsp;</td>
            <td><a href="https://github.com/nottrobin">github.com/nottrobin</a></td>
            <td><a href="https://twitter.com/nottrobin">@nottrobin</a></td>
        </tr>
        <tr>
            <td>Ross Jones</td>
            <td><a href="http://openhealthcare.org.uk">Open Health Care UK</a></td>
            <td><a href="https://github.com/rossjones">github.com/rossjones</a></td>
            <td><a href="https://twitter.com/rossjones">@rossjones</a></td>
        </tr>
        <tr>
            <td>Dr VJ Joshi</td>
            <td>&nbsp;</td>
            <td><a href="https://github.com/VJ911">github.com/VJ911</a></td>
            <td></td>
        </tr>
    </table>
</article>

{% endblock %}
