<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/style.css">

  <script src="{{ MEDIA_URL }}/js/libs/modernizr-2.5.3.min.js"></script>
  {% block extra_head %}
  {% endblock %}
</head>

<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  
  <section class="top">
      <header>
        {% block header %}
        <div class="logo"><img src="{{ MEDIA_URL }}/img/logo.png" /><h1>NHS Bugs</h1></div>
        {% endblock %}
        <nav>
            <ul>
                <li class="home"><a href="{% url home %}">Home</a></li>
                <li class="list_hospitals"><a href="{% url list_hospitals %}">Hospitals</a></li>
                <li class="my_bugs"><a href="#">My Bugs</a></li>
                {% if user.is_authenticated %}
                <li><span class="userInfo">Logged in as: {{ user.username }}</span>(<a href="/logout/">Logout</a>)</li>
                {% else %}
                <li><a href="/login/">Login/Register</a></li>
                {% endif %}
            </ul>
        </nav>
      </header>
  </section>
  
  <section class="main" role="main">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
  </section>
  <aside>
    {% block aside %}
    {% endblock %}
  </aside>
  
  <section class="bottom">
      <footer>
        {% block extra_footer %}
        {% endblock %}
        <nav>
            <ul>
                <li><a href="/about/">About</a></li>
            </ul>
        </nav>
        <p>All content &copy; nhsbugs.net unless otherwise stated</p>
      </footer>
  </section>

  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
  <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!--<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>-->
</body>
</html>
