{% extends "base.html" %}

{% block content %}

<section class="popular">
    <h1>Popular Bugs</h1>

{% for bug in bugs %}
    <article>
        <img class="thumbnail" src="{{ MEDIA_URL }}img/{{ bug.image_filename }}" />
        
        <hgroup>
            <h1>{{ bug.title }}</h1>
            <h2>{{ bug.votes }} votes</h2>
            <time pubdate>{{ bug.date_submitted }}</time>
        </hgroup>
        
        <p class="summary">{{ bug.summary }}</p>
        
        <a href="{% url view_bug slug=bug.slug %}">More information</a>
    </article>
{% endfor %}

    <!-- placeholder data. PLEASE DELETE -->
    <article>
        <img class="thumbnail" src="{{ MEDIA_URL }}/img/sweating.png" />
        
        <hgroup>
            <h1>Sweating insect</h1>
            <h2>42 votes</h2>
            <time pubdate>26th May</time>
        </hgroup>
        
        <p class="summary">I saw a sweating bug. On Google Images</p>
        
        <a href="{% url view_bug slug='sweating-insect' %}" class="more">more information</a>
    </article>
    
    <article>
        <img class="thumbnail" src="{{ MEDIA_URL }}/img/sweating.png" />
        
        <hgroup>
            <h1>Another sweating insect</h1>
            <h2>42 votes</h2>
            <time pubdate>26th May</time>
        </hgroup>
        
        <p class="summary">It happened again!</p>
        
        <a href="{% url view_bug slug='another-sweating-insect' %}" class="more">more information</a>
    </article>
</section>

<section class="newBug">
    <h1>Submit a New Bug</h1>
    <form action="/bug/submit">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" />
        <label for="description">Description</label>
        <textarea id="description" name="description"></textarea>
        <input type="submit" value="Submit Bug" />
    </form>
</section>
{% endblock %}
