{% extends "base.html" %}

{% block content %}

<section class="popular">
    <h1>Login</h1>

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table width="100%">
            <tr>
                <td><label for="username">Username/Email</label></td>
                <td><input type="text" id="username" name="username" /></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" id="password" name="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login" /></td>
        </table>
    </form>
</section>

<section class="newBug">
    <h1>Register</h1>
</section>
{% endblock %}
