{% extends "base.html" %}

{% block content %}

<section>
    <h1>Login</h1>

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
            <label for="username">Username/Email:</label>
            <input type="text" id="username" name="username" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
            <button type="submit">Login</button>
    </form>
</section>

<section class="newBug">
    <h1>Register</h1>
</section>
{% endblock %}
