
<article>
    {% if bug.pic %}
        <img class="thumbnail" src="{{ MEDIA_URL }}/{{ bug.pic }}" />
    {% endif %}

    <hgroup>
        <h1>{{ bug.title }}</h1>
        <h2>{{ bug.hospital }}</h2>
    </hgroup>
    
    <section class="meta">
        <span class="voting">
{% if not user_vote %}
            <a href="{% url vote_bug slug=bug.slug score=1%}" class="up">&#9650;</a>
            <a href="{% url vote_bug slug=bug.slug score=-1%}" class="down">&#9660;</a>
{% else %}
            (voted)
{% endif %}
        </span>
        <span>
            {{ bug.get_vote_counts }} votes
        </span>
        <time pubdate>{{ bug.report_date }}</time>
{% if bug.more %}
        <a href="{% url view_bug slug=bug.slug %}" class="more">More information</a>
{% endif %}
    </section>

    <p class="detail">
{% if bug.more %}
    {{ bug.description|truncatechars:50 }}
{% else %}
    {{bug.description}}
{% endif %}
    </p>
</article>
