<form action="/bugs/report/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label for="title">Title:</label>
    <input id="title" name="title" type="text" value="{{ form.cleaned_data.title }}" required />

    <label for="description">Description:</label>
    <textarea id="description" name="description">{{ form.cleaned_data.description }}</textarea>

{% ifequal hospital_slug none %}
   {{ form.hospital }}<br/>
{% endifequal %}

    {{ form.pic.label }}
    {{ form.pic }}<br/>

    <input type='Submit' value="Report it!"></input>
</form>