<form action="/bugs/report/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label for="title">Title:</label>
    <input id="title" name="title" type="text" value="{{ form.title.value|default:'' }}"
        required class="{% if form.title.errors %}error{% endif %}" />
    
    <label for="description">Description:</label>
    <textarea id="description" name="description" class="{% if form.description.errors %}error{% endif %}">{{ form.description.value|default:'' }}</textarea>
    
    <label for="hospital">Hospital:</label>
    <select id="hospital" name="hospital" required>
    {% for hospital in hospitals %}
        <option value="{{ hospital.id }}">{{ hospital.name }}</option>
    {% endfor %}
    </select>
    
    <label for="pic">Picture:</label>
    <input id="pic" name="pic" type="file" />

    <button type='Submit'>Report it!</button>
</form>
